<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Potagers</title>
</head>
<body>
	<div th:switch="${plantees}">
		<h2 th:case="null">Pas de plantes pour l'instant !</h2>
		<h2 th:case="${#lists.isEmpty(plantees)}">Pas de plantes pour l'instant !</h2>
		<div th:case="*">
			<h2>Mes Plantes</h2>
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Quantité</th>
						<th>Date de mise en Terre</th>
						<th>Date de récolte</th>
						<th>Effacer</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="plante : ${plantees}">
						<td th:text="${plante.plante.nom}"></td>
						<td th:text="${plante.quantite}"></td>
						<td th:text="${plante.dateMeP}"></td>
						<td th:text="${plante.dateRecolta}"></td>
						<td><a
							th:href="@{/planteCarre/delete/{id}(id=${plante.idPlanteInCarre})}">Effacer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/planteCarre/add">Ajouter une plante</a>
		</p>
	</div>
</body>
</html>