<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Potagers</title>
</head>
<body>
	<div th:switch="${plantes}">
		<h2 th:case="null">Pas de plantes pour l'instant !</h2>
		<div th:case="*">
			<h2>Mes Plantes</h2>
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Type</th>
						<th>Variété</th>
						<th>Surface occupée</th>
						<th>Effacer</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="plante : ${plantes}">
						<td th:text="${plante.nom}"></td>
						<td th:text="${plante.type}"></td>
						<td th:text="${plante.variete}"></td>
						<td th:text="${plante.surfaceOccupe}"></td>
						<td><a
							th:href="@{/plantes/delete/{id}(id=${plante.idPlante})}">Effacer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/plantes/add">Ajouter une plante</a>
		</p>
		<p>
			<a href="/potagers/index">Retour aux potagers</a>
		</p>
	</div>
</body>
</html>