<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Potagers</title>
</head>
<body>
	<div th:switch="${plantees}">
		<h2 th:case="null">Pas de plantes dans ce carré !</h2>
		<div th:case="*">
			<h2 th:text="'Les plantes du carré n°' + ${idCarre} "/>
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Quantité</th>
						<th>Date mise en terre</th>
						<th>Date estimé de recolte</th>
						<th>Effacer</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="planteInCarre : ${plantes}">
						<td th:text="${planteInCarre.plante.nom}"></td>
						<td th:text="${planteInCarre.quantite}"></td>
						<td th:text="${planteInCarre.dateMeP}"></td>
						<td th:text="${planteInCarre.dateRecolta}"></td>
						<td><a
							th:href="@{/planteCarre/delete/{id}(id=${planteIncarre.idPlanteInCarre})}">Effacer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/plantees/add">Ajouter une plante dans le carré</a>
		</p>
	</div>
</body>
</html>